body{
background-image:url("../imagenes/fondo.jpg");
background-attachment: fixed;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 10px;
background-color: #FFE4C4;
}

li a{
display: block;
width: 170px;
color: black;
padding: 8px 16px;
text-decoration: none;
}

li a:hover{
background-color: #D2691E;
}

.primero{
background-color: #D2691E;
}

.icono:hover{
-ms-transform: rotate(2deg);
-webkit-transfrom: rotate(2deg);
transform: rotate(2deg); 
cursor: pointer;
position: fixed;
left: 930px;
top: 0px;
box-shadow: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #FFE4C4;
}

font{
font-family: Arial, sans-serif;
}

img:hover{
box-shadow: 0px 0px 100px #333;
}

.contenedor {
	width:90%;
	margin:15px auto;
}

.contenedor img {
-webkit-transition:all .9s ease;
-moz-transition:all .9s ease;
-o-transition:all .9s ease;
-ms-transition:all .9s ease;
width:100%;
}

.elemento:hover img{
	-webkit-transform:scale(1.25);
	-moz-transform:scale(1.25);
	-ms-transform:scale(1.25);
	-o-transform:scale(1.25);
	transform:scale(1.25);
}

 
.elemento {
	width:220px;
	background:#fff;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
}
 
.elemento p {
	padding:10px;
	font-size:13px;
}
 
.elemento img {
	width:100%;
}


.social {
	position: fixed; 
	left: 0; 
	top: 250px; 
	z-index: 2000;
}
 
.social ul {
	list-style: none;
}
 
.social ul li a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
.social ul li .icon-facebook {background:#3b5998;} 
.social ul li .icon-mail {background: #666666;}
 
.social ul li a:hover {
	background: #000;
	padding: 10px 30px;
}